body {
  margin: 0px;
}

.container {
  height: 100vh;
  display: flex;
}

.sidebar {
  background-position: center center;
  background-color: #06b6d4;
  flex: 1;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
}

.nav-bar {
  display: flex;
  flex: 5;
}

.indicator-container {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.sidebar-logo,
.indicator-title,
.icon-title {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.sidebar-logo {
  width: 50px;
  margin-right: 4px;
}

.sidebar-navigation-1 {
  display: flex;
  justify-content: center;
}

.icon-button {
  display: flex;
  align-items: center;
  
  border: none;
  margin-top: 6px;
  cursor: pointer;
}

.icon-title {
  padding: 0px 20px;
}

.icon-picture {
  width: 30px;
}